##
# Slim4 CI (https://github.com/adriansuter/Slim4-CI)
#
# @license https://github.com/adriansuter/Slim4-CI/blob/master/LICENSE (MIT License)
##

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
